body {
    font-family: 'Courier New', Courier, monospace;
}

.content {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: flex-start;
    flex: 1 1 auto;
    background-color: #CCE6F4;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
}

.header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 80vw;
    height: 100vh;    
}

.header-text {
    display: flex;
    flex-flow: column nowrap;
    margin: auto;
    margin-top: 5px;
    color: black;
    background-color: white;
    font-size: 4em;
    margin-bottom: 10px;
}

.menu-button-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.menu-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 9em;
    height: 2.5em;
    color: black;
    background-color: white;
}

.home-svg {
    display: flex;
    width: 2rem;
    height: 2rem;
    background: center no-repeat url('../imgs/svgs/home.svg');
}

.menu-svg {
    display: flex;
    width: 2rem;
    height: 2rem;
    background: center no-repeat url('../imgs/svgs/menu.svg');
}

.about-svg {
    display: flex;
    width: 2rem;
    height: 2rem;
    background: center no-repeat url('../imgs/svgs/about.svg');
}

.banner-img {
    background: center / cover no-repeat url('../imgs/coffee-shop-img.jpg');
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    width: 80vw;
    height: 60vh;
}

.store-hours-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 15vh;
}

/* Animation Styling */
button:hover {
    background-color: #CCE6F4;
    transform: scale(1.1);
    font-weight: 700;
}

/* Style for the Data Table */
table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
    font-weight: 500;
  }
  
  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }
  
  th {
    background-color: rgb(235,235,235);
  }
  
  td {
    text-align: center;
  }
  
  tr:nth-child(even) td {
    background-color: rgb(250,250,250);
  }
  
  tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
  }
  
  caption {
    padding: 10px;
  }